--layout viewVideoOverlay-DefParam VideoNavigator 648x502+277+192 
--layout viewTrackNavigator-DefParam TrackNavigator 212x526+55+165
--layout viewSITacceptFilter-FUS_INDEX_00 FUS_object_0  1340x1005+20+20 
--layout viewSITacceptFilter-FUS_INDEX_01 FUS_object_1  1340x1005+20+20 
--layout viewSITacceptFilter-FUS_INDEX_02 FUS_object_2  1340x1005+20+20 
--layout viewSITacceptFilter-FUS_INDEX_03 FUS_object_3  1340x1005+20+20 
--layout viewSITacceptFilter-FUS_INDEX_04 FUS_object_4  1340x1005+20+20 
--layout viewSITacceptFilter-FUS_INDEX_05 FUS_object_5  1340x1005+20+20 
--layout viewSITacceptFilter-FUS_INDEX_06 FUS_object_6  1340x1005+20+20 
--layout viewSITacceptFilter-FUS_INDEX_07 FUS_object_7  1340x1005+20+20 
--layout viewSITacceptFilter-FUS_INDEX_08 FUS_object_8  1340x1005+20+20 
--layout viewSITacceptFilter-FUS_INDEX_09 FUS_object_9  1340x1005+20+20 
--layout viewSITacceptFilter-FUS_INDEX_10 FUS_object_10 1340x1005+20+20 
--layout viewSITacceptFilter-FUS_INDEX_11 FUS_object_11 1340x1005+20+20 
--layout viewSITacceptFilter-FUS_INDEX_12 FUS_object_12 1340x1005+20+20 
--layout viewSITacceptFilter-FUS_INDEX_13 FUS_object_13 1340x1005+20+20 
--layout viewSITacceptFilter-FUS_INDEX_14 FUS_object_14 1340x1005+20+20 
--layout viewSITacceptFilter-FUS_INDEX_15 FUS_object_15 1340x1005+20+20 
--layout viewSITacceptFilter-FUS_INDEX_16 FUS_object_16 1340x1005+20+20 
--layout viewSITacceptFilter-FUS_INDEX_17 FUS_object_17 1340x1005+20+20 
--layout viewSITacceptFilter-FUS_INDEX_18 FUS_object_18 1340x1005+20+20 
--layout viewSITacceptFilter-FUS_INDEX_19 FUS_object_19 1340x1005+20+20 
--layout viewSITacceptFilter-FUS_INDEX_20 FUS_object_20 1340x1005+20+20 
--layout viewSITacceptFilter-FUS_INDEX_21 FUS_object_21 1340x1005+20+20 
--layout viewSITacceptFilter-FUS_INDEX_22 FUS_object_22 1340x1005+20+20 
--layout viewSITacceptFilter-FUS_INDEX_23 FUS_object_23 1340x1005+20+20 
--layout viewSITacceptFilter-FUS_INDEX_24 FUS_object_24 1340x1005+20+20 
--layout viewSITacceptFilter-FUS_INDEX_25 FUS_object_25 1340x1005+20+20 
--layout viewSITacceptFilter-FUS_INDEX_26 FUS_object_26 1340x1005+20+20 
--layout viewSITacceptFilter-FUS_INDEX_27 FUS_object_27 1340x1005+20+20 
--layout viewSITacceptFilter-FUS_INDEX_28 FUS_object_28 1340x1005+20+20 
--layout viewSITacceptFilter-FUS_INDEX_29 FUS_object_29 1340x1005+20+20 
--layout viewSITacceptFilter-FUS_INDEX_30 FUS_object_30 1340x1005+20+20 
--layout viewSITacceptFilter-FUS_INDEX_31 FUS_object_31 1340x1005+20+20 

